:root {
    --primery-text-color:#757575;
    --title-color: #212121;
    --acsent-color: #2196F3;
    --white-color: #FFFF;
    --background-color: #F5F4FA;
    --button-color: #2F303A;
    --icon-color: #AFB1B8;
}
body {
background-color: var(--white-color);
color: var(--primery-text-color);

font-family: Roboto, sans-serif;

}

.list {
    list-style: none; 
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}

/* header */
.page-header {        
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    
    align-items: center;
   
}
.header-nav {
  display: flex;
 align-items: center;
}
.site-nav {
    display: flex;
    margin-left: 93px; 
}

.auto-nav {
    display: flex;
   margin-left: auto;
}
.page-header {
    background-color:var(--white-color) ;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }
.logo {
    display: inline;

    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-color);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}
.logo:hover {
    color: var(--primery-text-color);
}

.logo-blue {
    color: var(--acsent-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;    
}
.logo-blue:hover {
    color: var(--primery-text-color);
}

.item + .item {
    margin-left: 50px;
}

.link {    
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-color);
    text-decoration: none;     
}
.link.current {
    color: var(--acsent-color);
}
 .link:hover,.link:focus {
    color: var(--acsent-color);
}
.li-adress {
    display: flex;
    margin: 0;
}
.li-adress+.li-adress {
    margin-left: 50px;
}
.adress {
    display: flex; 
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;  

    color: var(--primery-text-color);

    text-decoration: none;
}
.adress-svg {    
    width: 16px;
    height: 16px;
    margin-right: 10px;

    color: var(--primery-text-color);
    
}
.adress:hover, .adress:focus {
    color: var(--acsent-color);
    fill: var(--acsent-color);
}

/* Hero section */
.hero-section { 
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--button-color);
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    color: var(--white-color);    
    text-align: center;      
}
.hero-title {
    width: 696px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;  
    margin-bottom: 30px;    

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    

    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
   .hide {
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;  
  font-size: 0;
}
.button {  
    
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--acsent-color);
    color: var(--white-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    
    align-items: center;   
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
}
.button:hover, .button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* section features */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-container {
    display: flex;
    flex-wrap: wrap;
   }
   .features-a {
     
     width: 270px;
     height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
     margin-bottom: 30px;
     background: var(--background-color);
     border-radius: 4px; 
   }
.features-icon {
   
   width: 70px;
   height: 120px;
    
    border: 0;
    color: var(--title-color);
            
}
.features-icon:hover {
    fill: var(--acsent-color);
}
.features-item {
    
    width: 270px;
   

}
.features-item + .features-item {
    margin-left: 30px;
}
.third-text {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color); 
        
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em; 
    text-transform: uppercase;    
}
.p-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}
/* Work */
.work {
    padding-bottom: 94px;
}
.work-container {
    display: flex;      
}

.work-item + .work-item {
   margin-left: 30px;
}
.second-title {   
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-color);    
        
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;    
}
.work-img {
    display: block;
    max-width: 370px;
    height: auto;    
}
/* Team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color);
   
}
.team-container {
    display: flex;

    
}
.team-photo {
    padding-bottom: 30px;
    
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;
}
.team-icon {
    display: flex;
    justify-content: center;
    
}
.icon {
    display: flex;
}
.icon + .icon {
   margin-left: 10px;   
}

.team-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.team-logo:hover, .team-logo:focus {
    background-color: var(--acsent-color);
    fill: var(--white-color)
}
/*.icon:hover .team-svg {
    fill: var(--white-color)
}*/
.icon:hover .team-svg, .icon:focus .team-svg {
    background-color: var(--acsent-color);
    fill: var(--white-color)
    }
.team-img {
    display: block;
    max-width: 270px;
    margin-bottom: 30px;
}

.team-svg {   
    width: 20px;
    height: 20px;
      
    fill: var(--icon-color);
}

.team-photo + .team-photo {
    margin-left: 30px;
}
.team-title {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--title-color);    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;     
    letter-spacing: 0.03em;
    
}
.team-text {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;    
}
/*Customer*/
.customer {
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
} 
.customer-list {
    display: flex;
    justify-items: center;
}
.customer-icon + .customer-icon {
    margin-left: 30px;
}
.customer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
   
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
}
.customer-logo:hover,
.customer-logo:focus {
    border: 1px solid var(--acsent-color);
}
.customer-svg {    
    width: 106px;
    max-height: 60px;

    fill: var(--icon-color);
}
.customer-logo:hover .customer-svg, .customer-logo:focus .customer-svg {
    fill: var(--acsent-color);
}



/* Hooter */
.hooter {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--button-color);    
}
.hooter-container {
    display: flex;
    align-items: baseline;
}
.adress-container {
   margin-left: 70px; 
}
.logo-hooter {
    display: flex;
    margin-bottom: 20px;
    color: var(--white-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;    
}
.logo-hooter:hover {
    color: var(--primery-text-color);    
}
.hooter-item {
    display: block;
    margin-bottom: 9px;
}
.hooter-a {    
    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    text-decoration: none;    
}
.hooter-item:last-child {
    margin-bottom: 0;

}
.hooter-a:hover, .hooter-a:focus {
    color: var(--acsent-color);   
}
.hooter-title {
   
    margin-top: 0;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}
.hooter-text {
    display: flex;
    margin-top: 0;
    margin-bottom: 9px;

    font-style: normal;  
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    
    color: var(--white-color);
}
.icon-container {
    margin-left: 70px;
}
.hooter-icon {
    display: flex;   
}
.li-icon+.li-icon {
    margin-left: 10px;
}
.hooter-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
}
.hooter-logo:hover, .hooter-logo:focus {
    background-color: var(--acsent-color);

}
.hooter-svg {   
    width: 20px;
    height: 20px;    

    fill: var(--white-color);
}
/* Portfolio */

.page {
    padding-top: 94px;
    padding-bottom: 94px;

    font-family: 'Roboto';
    font-size: 16px;
} 

.page-nav {
    display: flex;
    justify-content: center;
   
    align-items: center;
    
}
.page-item + .page-item {
    margin-left: 8px;
}
.all {
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    background-color: var(--acsent-color);
    color: var(--white-color);

    font-weight: 500;    
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
 .all:hover,  .all:focus {
   background-color: var(--background-color);
   color: var(--title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

 font-weight: 500;
 line-height: 1.62;
 text-align: center;
 letter-spacing: 0.03em;
}
.button-port {
    border: 0;
 border-radius: 4px;
 padding: 6px 22px;

  background-color: var(--background-color);
  color: var(--title-color);
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;

 text-align: center;
 letter-spacing: 0.03em;
}
.button-work + .button-work {
    margin-left: 8px;
}
.title {
    margin-top: 0;
    margin-bottom: 4;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}
.button-port:hover, .button-port:focus {
    background-color: var(--acsent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.photo {
    display: flex;    
    margin-top: 50px;     
       
    color: var(--primery-text-color);
    flex-wrap: wrap;
    
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;    
}
.photo-item {
    width: 370px;
    margin-right: 30px; 
    margin-bottom: 30px; 
    
    border: 1px solid #EEEEEE;
    }
.photo-item:nth-child(3n) {
    margin-right: 0;
}
.photo-item:nth-child(n+7) {
    margin-bottom: 0;
}
.photo-a {
    display: block;
}
.photo-a:hover, .photo-a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo-img {
    display: block;
    margin-bottom: 0;
}
.text-container {
    margin-bottom: 0;
    padding: 24px 20px;
}
.title {
    margin-bottom: 4px;
   
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}
.photo-text {
    margin-top: 0;
    margin-bottom: 0;    

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;   
    letter-spacing: 0.03em;
}


/* вторичный цвет текста #212121;*/
/*основной цвет текста #757575;*/
/*белый #FFFFFF*/
/* эфект #2196F3;*/
/* цвет адреса в ховере rgba(255, 255, 255, 0.6) */
/* color background hader #FFFF*/
/* color background hero #2F303A */
/* color background section #E5E5E5 */
/* color background section team #F5F4FA */
/*color background footer #2F303A */
